@model SoFetchGrooming.Models.Pet

@{
    ViewData["Title"] = "Delete";
}

<h2> Do you wish to remove @Html.DisplayFor(model => model.PetName) from your list? </h2>

<br />

<div>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
