html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Jovanni Added Card style changes for Product page and other that use Bootstrap cards*/
.card {
    min-height: 500px; /* Adjust this value as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Adjust the Top tool bar to align left and right while screen is large*/
@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .text-lg-center {
        text-align: center !important;
    }
}

/*Add padding right of Toolbar text FAQ and Help*/
.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

/*Add padding left of Toolbar text Support*/
.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

/*Remove the underline of the <a> links*/
a {
    text-decoration: none;
    background-color: transparent;
}

/*Adjusted h1 font*/
h1 {
    font-weight: 500 !important;
}

/*Make the Title h1 stay in one line*/
.navbar-brand h1 {
    white-space: nowrap;
}

/*Make some space between the Nav and the main body*/
.container {
    padding-top: 3rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #000000 !important;
    background: #258cfb;
}

/*Make the footer static to keep footer from overlapping into the main body*/
footer {
    position: static !important;
}

/*Make the cards in the product page square*/
.square-image {
    width: 100%;
    height: 100%;
    position: absolute;
}
/* Ensure the image container maintains a fixed aspect ratio */
.image-container-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%; /* 1:1 Aspect Ratio */
}

/* Style for the images */
.image-container-carousel img {
    position: absolute;
    top: 0;
    left: 0;
/*    width: 100%;
    height: 100%;*/
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* Add padding to the left of the text in detail <dd> tag*/
@media (min-width: 576px) and (max-width: 992px) {
    .text-custom-padding {
        padding-left: 4.5em;
    }
}
/* Style for the previous control arrow */
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Rounded shape */
}

/* Style for the next control arrow */
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Rounded shape */
}

/* Style for the carousel indicators */
.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color */
    border: 2px solid white; /* White border for contrast */
}

/* Style for the active indicator */
.carousel-indicators .active {
    background-color: white; /* White color for the active indicator */
    border: 2px solid black; /* Black border for contrast */
}
