@{
    ViewData["Title"] = "Home Page";
}

<!-- Image Gallery Roulette/Carousel -->
<div class="carousel">

</div>

<div class="container">

    <!-- About, Service and placeholder image row -->
    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-12">

            <!-- About us / mission statement -->
            <h3>Who Are We?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Donec quam felis, ultricies nec,
                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>

            <!-- Service example -->
            <h3>What do we offer</h3>
            <p>
                The following are temporary filler text to test
                <ul>
                    <li>Full Grooming Services</li>
                    <li>Walk-in Nail Trims</li>
                    <li>Walk-in Ear Cleaning</li>
                </ul>
            </p>
        </div>

        <!-- Placeholder image, we can change this for something related to the service -->
        <div class="col-lg-6 col-md-6 col-12">
            <img width="100%" src="https://placehold.co/500" alt="Placeholder square image" /> <!-- image from: https://placehold.co -->
        </div>

    </div>

    <!-- Map and Facts row -->
    <div class="row">

        <!-- Google Maps embedding -->
        <div class="col-lg-6 col-md-6 col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72417.1528477132!2d-122.31571818431279!3d47.58475481220722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace%20Needle!5e0!3m2!1sen!2sus!4v1738449216720!5m2!1sen!2sus"
                    width="100%"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <!-- The Random Dog and cat Facts will go here, Check the site.js file -->
        <div class="col-lg-6 col-md-6 col-12">
            <div id="dog-facts">

            </div>

            <div id="cat-facts">

            </div>
        </div>

    </div>
</div>


