@model IEnumerable<SoFetchGrooming.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}



<div class="container">

    <div class="row">

        <!-- Appointment button -->
        <div class="col-xxl-9 col-xl-8 col-12">

            <h3> Make an Appointment </h3>

            <div class="row">

                <img src="https://placehold.co/100" class="col-3" />

                <div class="col-9">
                
                    <p class="">
                        Welcome to our salon, if you wish to make an appointment please continue on by clicking the following button,
                        where you will be asked to sign in and choose the type of service you want alongside information about your pet.
                    </p>

                    <br />

                    <a asp-action="Create" class="btn btn-primary">Make an Appointment</a>

                </div>
            </div>
        </div>
        
        <!-- Hours of service -->
        <div class="col-xxl-3 col-xl-4 col-12">

            <h3> Hours of service </h3>

            <!-- Test dates (can be changed in the future) -->
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                </tr>
                <tr>
                    <td>Monday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Friday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday </td>
                    <td> 9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Sunday </td>
                    <td> Closed</td>
                </tr>
            </table>

        </div>

    </div>

    <br />

    <!-- Service and Pricing -->
    <div class="row">

        <!-- Grooming Services -->
        <div class="col-xxl-3 col-xl-4 col-12">

            <h3> Grooming Services </h3>

            <ul>
                <li>Full Body Wash</li>
                <li>De-Shedding</li>
                <li>Dog Grooming</li>
                <li>Dog Nail Trimming</li>
                <li>Cat Nail Trimming</li>
                <li>Ear Cleaning</li>
                <li>Tooth Brushing</li>
                <li>Gland Expression</li>
                <li>Brushing</li>
                <li>Flea Control</li>
                <li>Breed Specific Haircuts</li>
            </ul>
        </div>

        <!-- Pricing estimates -->
        <div class="col-xxl-9 col-xl-8 col-12">

            <h3> Price estimate </h3>
            <h5> (For washing and grooming) </h5>

            <div class="row justify-content-center">


                <div class="card col-lg-3 col-md-6 col-sm-6">
                    <img src="https://placehold.co/100" class="card-img-top" alt="placeholder" />
                    <div class="card-body">
                        <h5 class="card-title"> Small Dogs </h5>
                        <p class="card-text">
                            - Under 25 lbs
                            <br />
                            - $65
                        </p>
                    </div>
                </div>
    
                <div class="card col-lg-3 col-md-6 col-sm-6">
                    <img src="https://placehold.co/100" class="card-img-top" alt="placeholder" />
                    <div class="card-body">
                        <h5 class="card-title"> Medium Dogs </h5>
                        <p class="card-text">
                            - 25-50 lbs
                            <br />
                            - $85
                        </p>
                    </div>
                </div>    

                <div class="card col-lg-3 col-md-6 col-sm-6">
                    <img src="https://placehold.co/100" class="card-img-top" alt="placeholder" />
                    <div class="card-body">
                        <h5 class="card-title"> Large Dogs </h5>
                        <p class="card-text">
                            - 50-75 lbs
                            <br />
                            - $105
                        </p>
                    </div>
                </div>

                <div class="card col-lg-3 col-md-6 col-sm-6">
                    <img src="https://placehold.co/100" class="card-img-top" alt="placeholder" />
                    <div class="card-body">
                        <h5 class="card-title"> Giant Dogs </h5>
                        <p class="card-text">
                            - Over 75 lbs
                            <br />
                            - $125
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>